/* サイドバー */
.chat-message{
  width: 100%;
  display: flex;
}

.side-bar{
  width: 20%;
  height: 100vh;
}

.side-bar-header{
  height: 100px;
  padding: 0 20px;  
  background-color: olive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Amatic SC', cursive;
}

.header-name a{
  font-size: 22px;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: olivedrab;
  padding: 20px;
}

.room-button{
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.adopt-btn {
  border: 3px solid darkorange;
  color: darkorange;
  background-color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  margin-bottom: 3vh;
  display: block;
}

.prof-btn {
  border: 3px solid olivedrab;
  color: olivedrab;
  background-color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
}

/* //サイドバー */

/* チャット画面 */
.chat{
  width: 80%;
  background-color: #ffffff;
}

.chat-header{
  height: 100px;
  padding: 0 20px;
  background-color: olivedrab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  font-size: 24px;
}

.header-title a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* メッセージ */
.messages{
  height: calc(100vh - 100px - 90px);
  background-color: #CCCC99;
  padding: 15px 30px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: olive;
  font-size: 14px;
}

.message-date {
  color: #ffffff;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 5px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;
}

.message-form{
  height: 90px;
  background-color: olive;
  padding: 20px 40px;
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
}
/* //メッセージ */

.form-input{
background-color: #ffffff;
width: 100%;
display: flex;
}

.form-message{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.form-submit{
  height: 50px;
  background-color:#ffffff;
  color: olive;
  padding: 0 20px; 
  margin-left: 15px;
  border: none;
  font-size: 22px;
  font-weight: bold;
}

.form-image{
  width: 60px;
  background-color: olive;
  color: #ffffff;
  padding: 6px 8px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

/* //チャット画面 */
