/* adoptionのnewと共通css */

.room-request-form{
  width: 100vw;
  background-color: #CCCC99;
  padding: 2vh 0;
}

.room-form {
  width: 80vw;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.room-text{
  font-size: 23px;
  padding: 20px 0;
}

.room-form-field {
  margin-top: 35px;
}

.room-form-field:after {
  content: "";
  clear: both;
  display: block;
}

.room-form-field-center {
  text-align: center;
}

.room-pet-title {
  font-size: 25px;
  font-weight: bold;
}

.room-pet-info {
  font-size: 20px;
}

.room-form-center {
  width: 100%;
  padding: 4vh 0;
  text-align: center;
  align-items: center;
}

.request-btn {
  background: olivedrab;
  color: #fff;
  width: 40%;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4vh;
  font-family: 'Amatic SC', cursive;
}