* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Amatic SC', cursive;
}

.lists-left {
  display: flex;
  min-width: 200px;
  align-items: center;
}

.pet-icon {
  height: 60px;
  margin: 5px 0 0 5px;
}

.top-page-btn {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vw;
  color: olivedrab;
}

.search-link-btn {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vw;
  color: olivedrab;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 1vw;
}

.my-page {
  text-decoration: none;
  margin: 0 1vw;
  color: olivedrab;
  padding: 7px 12px;
}

.logout {
  text-decoration: none;
  color: olivedrab;
  padding: 7px 12px;
  margin: 0 1vw;
}

.post-btn {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vh;
  color: olivedrab;
}

.login {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vw;
  color: olivedrab;
}

.sign-up {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vh;
  color: olivedrab;
}