.page-heading {
  font-size: 25px;
  margin: 28px 20px 14px;
  color: yellowgreen;
  font-weight: bold;
}

.user-info{
  min-height: calc(100vh - 161px);
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 90%;
}

.table-1{
  text-align: left;
  font-weight: bold;
  background: yellowgreen;
  color: #ffffff;
  border-collapse: collapse;
  border: 1px solid yellowgreen;
  width: 30%;
  padding: 8px;
}

.table-2{
  text-align: left;
  border: 1px solid yellowgreen;
  border-collapse: collapse;
  width: 70%;
  padding: 20px 16px;
}

.user-pet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
