a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* メイン画像 */
.main-img {
  width: 100vw;
  margin: 0 auto;
}

.main-name {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.main-name>span {
  color: #FFF;
  font-size: 80px;
}

/* //メイン画像 */


/* 投稿一覧 (post_list)*/

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
  font-family: 'Amatic SC', cursive;
}

.item-contents>.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* //投稿一覧 */