a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* メイン画像 */
.main-img {
  width: 100vw;
  margin: 0 auto;
}

.main-name {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.main-name>span {
  color: #FFF;
  font-size: 80px;
}

/* //メイン画像 */


/* 投稿一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
  font-family: 'Amatic SC', cursive;
}

.item-contents>.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pet-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
}

.pet-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.pet-img-content {
  position: relative;
}

.pet-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  background-color: darkorange;
}

.sold-out>span {
  color: #FFF;
  font-size: 30px;
  font: bold;
}

.pet-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.pet-title {
  font-size: 2.5vh;
  font-weight: bold;
}

.pet-name {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
}

/* //投稿一覧 */