.search-main {
  padding: 2vh 10vw;
}

.search-title{
  font-size: 30px;
  color: #ffffff;
  background-color: olivedrab;
  padding: 5px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

#detailed-search-form{
  background-color: white;
  width: 35%;
}

.search-field{
  margin: 0.5rem 0;
}

.search-btn-contents {
  width: 40%;
  padding: 4vh 0;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.search-btn {
  background: olivedrab;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 25px;
  margin-bottom: 4vh;
}

#detailed-search-result-wrapper{
  width: 100%;
  display: flex;
}

#detailed-search-result{
  width: 100%;
  display: flex;
}

/* 投稿一覧のcssと共通 */
