/* 概要 */

.pet-show {
  background-color: #CCCC99;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.pet-box {
  background-color: #FFF;
  width: 80vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-img-content {
  text-align : center
}

.pet-box-img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.pet-other-img {
  height: 400px;
  width: 400px;
  object-fit: contain;
}

.pet-title-box {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pet-title-box>.title {
  font-weight: bold;
  font-size: 20px;
}

/* /概要 */

/* 編集削除ボタン */
.pet-user-btn {
  font-family: 'Amatic SC', cursive;
  margin: 3vh 0;
}

.edit-btn {
  text-align: center;
  background-color: olivedrab;
  font-size: 28px;
  color: #FFF;
  margin: 20px 1vh;
  padding: 1.5vh 8vw;
}

.destroy-btn {
  background-color: lightgray;
  text-align: center;
  font-size: 28px;
  color: black;
  margin: 20px 0px;
  padding: 1.5vh 8vw;
}
/* //編集削除ボタン */

/* detail */
.pet-explain-box {
  font-size: 28px;
  font-weight: bold;
  margin: 40px 0px;
  overflow-wrap: anywhere;
  font-family: 'Amatic SC', cursive;
}

.detail-table {
  width: 120%;
  margin-bottom: 3vh;
}

/* userマイページ共通 */
.detail-item {
  width: 20%;
  background-color: olivedrab;
  font-size: 18px;
  color: #FFF;
  border: 1px solid black;
  text-align: center;
}

.detail-value {
  width: 30%;
  padding: 20px;
  border: 1px solid;
  font-size: 16px;
}

.detail-item2 {
  width: 25%;
  background-color: olivedrab;
  border: 1px solid black;
  font-size: 18px;
  color: #FFF;
  text-align: center;
}

.detail-value2 {
  width: 85%;
  padding: 20px;
  border: 1px solid;
  font-size: 16px;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

/* //detail */

.show-adoption {
  font-family: 'Amatic SC', cursive;
}

.show-adoption-btn {
  text-align: center;
  background-color: olivedrab;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  padding: 20px 30px;
  margin-top: 30px;
}