.login-flash-message {
  text-align: center;
  color: red;
}

.login-btn-contents {
  width: 100%;
  padding: 4vh 0;
  text-align: center;
  align-items: center;
}

.login-btn {
  background: olivedrab;
  color: #fff;
  width: 40%;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4vh;
  font-family: 'Amatic SC', cursive;
}
