li {
  list-style: none;
}

.user-info{
  background-color: #CCCC99;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.inner {
  background-color: #FFF;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amatic SC', cursive;
}

.my-page-title {
  font-weight: bold;
  font-size: 28px;
  margin: 4vh 0 2vh;
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  color: olivedrab;
  font-family: 'Amatic SC', cursive;
}

/* ドーナツグラフ */

.doughnut-graph {
  width: 120%;
}

.graph-text {
  margin: 3vh 0;
  font-size: 20px;
  color: olivedrab;
}

/* //ドーナツグラフ */

.page-heading {
  font-size: 25px;
  margin: 4vh 0 2vh;
  color: olivedrab;
  font-weight: bold;
}

.rooms-index {
  width: 80%;
  margin-bottom: 4vh;
}

.room-link{
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px;
}

.edit-user-btn {
  font-size: 22px;
  padding: 8px 16px;
  margin-left: 10px;
  text-decoration: none;
  color: olivedrab;
  border: 3px olivedrab solid ;
}

.user-wrapper {
  margin-bottom: 4vh;
  width: 80%;
}

/* pet showと共通 */

.table{
  width: 100%;
}

/* 投稿一覧 */
.posts-list {
  width: 80%;
}

.user-pet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-pet>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
/* //投稿一覧 */
